/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    padding-right: 2rem;
    background: #272727;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    font-weight: bold;
    display: block;
    color: #747474;
    text-align: center;
    /* padding: 14px 16px; */
    padding-bottom: 6px;
    margin: 18px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 2px solid rgb(0,0,0,0);
    border-bottom-width: 20%;
    transition: border-bottom 0.8s linear;
}

/* .topnav a:hover {
    border-bottom: 2px solid black;  
} */

.topnav a.home-inactive:hover {
    border-bottom: 2px solid #FF652F;
}

.topnav a.about-inactive:hover {
    border-bottom: 2px solid #14A76C;
}

.topnav a.portfolio-inactive:hover {
    border-bottom: 2px solid #FFe400;
}


.topnav a.home-active {
    border-bottom: 2px solid #FF652F;
}

.topnav a.about-active {
    border-bottom: 2px solid #14A76C;
}

.topnav a.portfolio-active {
    border-bottom: 2px solid #FFe400;
}
