.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    animation: fadeInAnimation ease 1s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    flex-wrap: wrap;
    margin:40px;
    margin-top: 10px;
    height: 70vh;
}
.portfolio-item {
    /* background-image: url("/timeit_screenshot.png"); */
    width: 400px;
    height: 250px;
    /* margin: auto; */
    position: relative;

}


.website-image {
    position: absolute;
    width: 400px;
    height:250px;
    border-radius: 10px;
}

.overlay {
    transition: 0.5s ease;
    position: absolute; 
    z-index: 1;
    height: 250px;
    width: 400px;
    text-align: center;
    background-color: rgb(0, 0, 0, 0);
    /* opacity: 0; */
    border-radius: 10px;
    
}

.visit-button a {
    background:none;
    /* border: white 2px solid; */
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: white 2px solid;

    
}
.visit-button {
    background-color: transparent;
    display: inline-block;
    opacity: 0;
    transition: 0.5s ease;
    /* padding: 0.5rem; */
    
}
.name {
    opacity: 0;
    transition: 0.5s ease;
}

h3 {
    background: transparent;
}

h3.name {
    margin-top: 75px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 900;
    color: white;
}

.portfolio-item:hover .visit-button  {
    opacity: 1;
}
.portfolio-item:hover .name  {
    opacity: 1;
}
.portfolio-item:hover .overlay  {
    background-color: rgb(0, 0, 0, 0.7)
}

/* .portfolio-item:hover .website-image {
    opacity: 0.7;
} */

@media (max-width: 500px) {
    .portfolio-item {
        width: 300px;
        height: 187.5px;

    
    }
    .website-image {
        width: 300px;
        height:187.5px;
    }
    .overlay {
        width: 300px;
        height:187.5px;
    }
    h3.name {
        margin-top: 40px;

    }
}